<h1>Equipamentos de <%= @company.name %></h1>

<!-- Botão que dispara o modal de equipamentos -->
<button id="openEquipmentModalBtn">Adicionar novo equipamento</button>

<!-- Estrutura do modal de equipamentos -->
    <div id="equipmentModal" class="modal">
      <div class="modal-content">
        <span id="closeEquipmentModalBtn" class="closeBtn">&times;</span>
        <%= semantic_form_for [@company, Equipment.new], url: company_equipments_path(@company) do |f| %>
            <%= f.inputs do %>
                <%= f.input :name, label: "Nome" %>
                <%= f.input :serial_number, label: "Serial" %>
                <%= f.input :acquisition_date, as: :date_picker, input_html: { class: "date-picker-input" }, label: "Data de aquisição" %>
                <%= f.input :responsible_user, label: "Pessoa responsável" %>                
            <% end %>
            <%= f.actions do %>
              <%= f.action :submit, as: :button, label: "Create Equipment" %>
            <% end %>
        <% end %>
      </div>
    </div>
    

<table border="1">
<thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Serial</th>
      <th>Data de aquisição</th>
      <th>Pessoa responsável</th>
    </tr>
</thead>
  <tbody>
  <% @equipments.each do |equip| %>
    <tr id="equipment-<%= equip.id %>">
      <td><%= equip.id %></td>
      <td><%= equip.name %></td>
      <td><%= equip.serial_number %></td>
      <td><%= equip.acquisition_date %></td>
      <td><%= equip.responsible_user %></td>
    </tr>
  <% end %>
  
  </tbody>
</table>

<%= will_paginate @equipments %>
