<% resource = User.new %>
<% resource_name = :user %>

<!-- Barra de Navegacao -->
<nav class="navbar">
  <h1>Equipamentos de <%= @company.name %></h1>

  <div class="user-info">
    <% if user_signed_in? %> <!-- Verifica se um usuário está logado -->
      <span class="user-email"><%= current_user.email %></span>
      <div class="custom-dropdown">
        <button class="user-actions">&#9776; Menu</button>
        <div class="dropdown-content">
          <button id="new-user-modal" class="dropdown-link">Criar novo usuário</button>
          <button id="logout-button" class="dropdown-link">Sair da Conta</button>
        </div>
      </div>
    <% end %>
  </div>
</nav>

<!-- Modal de Criar Novo Usuário -->
<div id="newUserModal" class="modal">
  <div class="modal-content">
    <span id="closeNewUserModalBtn" class="closeBtn">&times;</span>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "new_user_form" }) do |f| %>
      
      <% if resource.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>       
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.label :email, "E-mail" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
  
      <div>
        <%= f.label :password, "Senha" %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
  
      <div>
        <%= f.label :password_confirmation, "Confirme sua senha" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>  
    
      <div>
        <%= f.submit "Cadastrar usuário" %>
      </div>

    <% end %>
  </div>
</div>

<div class="actions-row">
    <%= link_to "← Voltar", :back, class: "btn-action btn-back" %>
    <button id="openEquipmentModalBtn">Adicionar novo equipamento</button>
</div>

<!-- Estrutura do modal de equipamentos -->
    <div id="equipmentModal" class="modal">
      <div class="modal-content">
        <span id="closeEquipmentModalBtn" class="closeBtn">&times;</span>
        <%= semantic_form_for [@company, Equipment.new], url: company_equipments_path(@company) do |f| %>
            <%= f.inputs do %>
                <%= f.input :name, label: "Nome" %>
                <%= f.input :serial_number, label: "Serial" %>
                <%= f.input :acquisition_date, as: :date_picker, input_html: { class: "date-picker-input" }, label: "Data de aquisição" %>
                <%= f.input :responsible_user, label: "Pessoa responsável" %>                
            <% end %>
            <%= f.actions do %>
              <%= f.action :submit, as: :button, label: "Create Equipment" %>
            <% end %>
        <% end %>
      </div>
    </div>
    
<!-- Tabela -->
<table border="1">
<thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Serial</th>
      <th>Data de aquisição</th>
      <th>Pessoa responsável</th>
    </tr>
</thead>
  <tbody>
  <% @equipments.each do |equip| %>
    <tr id="equipment-<%= equip.id %>">
      <td><%= equip.id %></td>
      <td><%= equip.name %></td>
      <td><%= equip.serial_number %></td>
      <td><%= equip.acquisition_date %></td>
      <td><%= equip.responsible_user %></td>
    </tr>
  <% end %>
  
  </tbody>
</table>

<!-- Paginacao -->
<%= will_paginate @equipments %>

<form id="logout_form" action="<%= destroy_user_session_path %>" method="post" style="display: none;">
  <%= hidden_field_tag "_method", "delete" %>
  <%= hidden_field_tag "authenticity_token", form_authenticity_token.to_s %>
</form>
