<% resource = User.new %>
<% resource_name = :user %>

<nav class="navbar">
  <h1>Empresas</h1>
  
  <div class="user-info">
    <% if user_signed_in? %> <!-- Verifica se um usuário está logado -->
      <span class="user-email"><%= current_user.email %></span>
      <div class="custom-dropdown">
        <button class="user-actions">&#9776; Menu</button>
        <div class="dropdown-content">
          <button id="new-user-modal" class="dropdown-link">Criar novo usuário</button>
          <button id="logout-button" class="dropdown-link">Sair da Conta</button>
        </div>
      </div>
    <% else %> 
      <!-- Se não houver usuário logado, você pode mostrar opções diferentes ou nada -->
    <% end %>
  </div>
</nav>

<!-- Modal de Criar Novo Usuário -->
<div id="newUserModal" class="modal">
  <div class="modal-content">
    <span id="closeNewUserModalBtn" class="closeBtn">&times;</span>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "new_user_form" }) do |f| %>
      
      <% if resource.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>       
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    
      <div>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    
      <div>
        <%= f.submit "Sign up" %>
      </div>

    <% end %>
  </div>
</div>

<!-- Botão que dispara o modal -->
<button id="openCompanyModalBtn">Adicionar nova empresa</button>

<!-- Estrutura do modal -->
  <div id="companyModal" class="modal">
  <div class="modal-content">
    <span id="closeCompanyModalBtn" class="closeBtn">&times;</span>
    <%= semantic_form_for @company, html: { multipart: true } do |f| %>
        <%= f.inputs do %>
          <%= f.input :name, label: "Nome" %>
          <%= f.input :address, label: "Endereço" %>
          <div class="file-upload-wrapper">
          <label for="company_logo" class="file-upload-label">Escolher Logotipo</label>
          <%= f.input :logo, as: :file, label: false, input_html: { id: "company_logo", class: "file-upload-input", onchange: "window.displayImagePreview(this)" } %>
          <img id="image-preview-element" class="image-preview" />
        </div>
        
        <% end %>
        <%= f.actions do %>
          <%= f.action :submit, as: :button, label: "Create Company" %>
        <% end %>
      <% end %>      
  </div>
</div>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Logo</th>
      <th>Equipamentos</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.name %></td>
        <td><%= company.address %></td>
        <td>
          <% if company.logo.attached? %>
            <%= image_tag url_for(company.logo), alt: "#{company.name} Logo", width: 50 %>
          <% else %>
            Sem logo
          <% end %>
        </td>
        <td><%= link_to "Ver equipamentos", company_equipments_path(company) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @companies %>

<form id="logout_form" action="<%= destroy_user_session_path %>" method="post" style="display: none;">
  <%= hidden_field_tag "_method", "delete" %>
  <%= hidden_field_tag "authenticity_token", form_authenticity_token.to_s %>
</form>
