<div class="login-container">
  <div class="login-card">
    <h2>Login</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :senha, class: 'label' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
      </div>

      <div class="actions">
        <%= f.submit "Entrar", class: 'submit-btn' %>
      </div>
    <% end %>
  </div>
</div>
